:root {
  --cell-width: 50px;
  --cell-height: 50px;
  --fall-distance: 0px;
  --fall-duration: 1s;
}

/* game board table */

#board td {
  width: var(--cell-width);
  height: var(--cell-height);
  border: solid 1px #666;
}

/* pieces are div within game table cells: draw as colored circles */

.piece {
  /* TODO: make into circles */
  margin: 5px;
  width: calc(.8 * var(--cell-width));
  height: calc(.8 * var(--cell-height));
  border-radius: 50%;
  position: absolute;
  top: 0;  /* maybe 2 ? */
  /* left: js determines */
  animation-duration: var(--fall-duration);

}

/* TODO: make pieces red/blue,  depending on player 1/2 piece */
.p1 {
  background-color: blue;
}

.p2 {
  background-color: red;
}

/* column-top is table row of clickable areas for each column */

table {
  position: relative;
}


#column-top td {
  border: dashed 1px lightgray;
}

#column-top td:hover {
  background-color: gold;
}

/* .falling {
  transform: translateY(0px);
  transition: transform 2s;
} */



.falling {
  /* animation: dropping 1s forwards linear; */
  /* animation-duration: 1s; */
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-play-state: running;
  animation-name: dropping;
  
}

@keyframes dropping {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(var(--fall-distance));
  }
}




